/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* ---------------Header section start here---------------  */
.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}
.banner{
   width: 95%;
   height: 646px;
   background: #161616; 
   border-radius: 30px;
   display: flex;
   justify-content: space-evenly;
 
}
.left{
    width: 530px;
    height: 300px;
    position: relative;
    top:10%;
      
}
.banner-title{
    color:#ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    padding: 1em 0;
}
.banner-subtitle{
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

.right{
    width: 581px;
    height: 613px;
   

}
.banner-img{
    width: 100%;
    height: 100%;
}
/* watch live buttton  */
.watch-live{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    background-color: #DD0000;
    border:none;
    color:#ffffff;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;

}
.watch-live:hover{
    background-color: rgb(68, 68, 236);
}
.fa-greater-than{
   font-size: 18px;
   font-weight: normal;
   padding:0 6px;
}
/* ------------Header section end here------------  */


/*------------ Main section start here------------- */
#main{
    width: 100%;
    height: auto;
    margin:4rem 0;
    display: flex;
    justify-content: center;
}


.container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
 
/* left side navbar */
.navbar{
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-right: 18px;

   
}

.nav-item{
    width: 190px;
    height: 50px;
    background-color: #ffffff;
    color:#161616;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin:10px 0;

}
.nav-item:hover{
    background-color: #DD0000;
}
.nav-item.active{
    background-color:#DD0000;
    color: #ffffff;
}
.nav-item.active:hover{
    background-color:rgb(243, 55, 55);
    color:blue;
}

/* main > card section start here  */
.card-section{
    display: grid;
    grid-template-columns:repeat(3,310px);
    grid-template-rows:repeat(3,auto);
    grid-column-gap: 20px;
    grid-row-gap: 30px;    
}
.card{
  
    border:1px solid black;
    box-shadow: 2px 3px 5px rgba(33, 32, 32, 0.606);
    cursor: pointer;
    transition: all .1s ease;
}
.card:hover{
    
    box-shadow:2px 4px 6px 8px rgba(18, 15, 15, 0.358);
   
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.card-footer {
    text-align: center;
    padding: 1.5rem;
}

.card {
    height:200px;;
}

.card-footer{
    padding: 5px 15px;
    
}
.transfer{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    cursor:pointer ;
}
.transfer:hover{
    background-color: #DD0000;
}
.chat-intput{
    border: none;

}
input.chat-input {
    border:none;
    width:30px 
}
.card-title{
   font-size: 18px;
   font-weight: 600;
   line-height: 27px;
   padding-top: 15px;
}
/*------------ Main section end  here------------- */



/* -------------footer section start here--------  */
#footer{
   width: 100%;
   height: 60vh;
   background-color:#161616;
   margin-top: 3rem;
   display: flex;
   justify-content: center;
 
}
.footer-container{
    width: 80%;
    height: 100%;
    
}
#footer{
    width: 100%;
    height: auto;
    background-color:#161616;
 
 }
 .footer-container{
     width: 80%;
     height: auto;
      display:flex;
      justify-content: center;
     align-items: center; 
     flex-direction: column;
     margin:0 auto;
     
 }
 
 .footer-title{
     font-size: 45px;
     color: #ffffff;
     font-weight: 500;
     line-height: 150px;
 
 }
 .footer-link ul{
     display: flex;
     flex-wrap: wrap;
     border-top: 3px solid black;
  
 }
 ul li {
     margin: 5px 15px;
     list-style-type: none;
     cursor: pointer;
     line-height: 70px;
  
 }
 ul li a{
     text-decoration: none;
     color:white;
     font-size: 20px;
     cursor: pointer;
     transition: all .2s ease-in-out;
   
 }
  ul li a:hover{
     color:blue;
     text-decoration: underline;
  }
 
 .social{
     display: flex;
     flex-wrap: wrap;
     margin: 2rem 0;
 
 }
 .icon{
     font-size: 30px;
     color:#c2c2cf;
     margin: 15px 10px;
     cursor: pointer;
     transition: all .2s linear;
 }
 .icon:hover{
     transform: scale(1.2);
 }
/* -------------footer section end here--------  */


 /*=============================================== 
       media query resoponsive layout
 ==================================================  */

 /*------ tablet screen view-----  */
 @media screen and (min-width:768px) and (max-width:1200px){
    /* heder section start here  */
    .header{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        
    }
    .banner{
       width: 85%;
       height: 646px;
    }
    article.left {
        width: 500px;
        height: auto;
        text-align: center;
    }
    
    h1.banner-title {
        font-size: 42px;
        line-height: 50px;
        padding: 32px 10px 15px 10px;
    }
    
    h3.banner-subtitle {
        padding: 10px;
    }
    
    button.watch-live {
        margin-left: 10px;
    }
    article.left {
        width: 500px;
        height: 600px;
    }
    
    h1.banner-title {
        font-size: 45px;
        line-height: 50px;
        padding: 32px 10px 15px 10px;
    }
    
    h3.banner-subtitle {
        padding: 10px;
    }
    button.watch-live {
        margin-left: 10px;
    }
    
    article.right {
        width: 550px;
        height: 600px;
    }

    /* main and card section start here  */
    .container {
        display: flex;
        flex-direction: column;
        width: 85%;
        justify-content: center;
        height: auto;
    }
    
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100px;
        background: white;
        justify-content: space-around;
    }
    
    section.card-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .card-header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: auto
    }
    img.card-left-img {
        width: 140px;
    }
    
    img.card-right-img {
        width: 140px;
    }
    .card-footer {
        text-align: center;
    }
        /* main and card section end here  */

 }
  /*------ tablet screen view responsive end here-----  */


  /* mobile screen 767px responsive start from here   */
  @media (max-width:767px){
    /* header section start here  */
        .header{
            width: 100%;
            height: auto;
            display: flex;
            justify-content:center;
            
        }
        .banner{
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
      article.left {
        text-align:center;
        padding: 0;
        width: 75%;
        position: relative;
        top: 0px;
        height: auto;
        overflow: hidden;
    }
   
    h1.banner-title {
        padding: 22px 10px 10px 10px;
        line-height: 35px;
        font-size: 28px;
    }

    h3.banner-subtitle {
        font-size: 16px;
        padding: 0 10px;
    }

    button.watch-live {
        margin-top: 8px;
        width: 127px;
        font-size: 16px;
    }

    article.right {
        width: 65%;
        height: auto;
        margin-top: 15px;
    }

    /* main card section start here  */
    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    
    section.card-section {
        display: grid;
        margin-top: 10px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    
    .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
        height: auto;
        background-color: #ffffff;
        
    }
    
    .card-header {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
    }
    
    .card-header {
        display: flex;
        justify-content: center;
        position: relative;
        top: 20px;
    }
    
    .card-footer {
        text-align: center;
    }

    /* footer section start here  */
    .footer-bottom {
        display: grid;
        justify-content: center;
        grid-gap: 3px;
        margin-top: 73px;
    }
    
    footer#footer {
        height: auto;
    }
      /* footer section start here  */
}

 /* mobile screen 767px responsive end  here   */

